<div class="form-class">
  <mat-card>
    <mat-card-header class="form-header">
      <mat-card-title>Enter Customer Details</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="obj.name" name="Name" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Age" [(ngModel)]="obj.age" name="Age" />
      </mat-form-field>

      <mat-radio-group [(ngModel)]="obj.gender" name="Gender">
        <label class="example-margin">Gender: </label>
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="example-full-width">
        <textarea
          matInput
          placeholder="Enter your address"
          [(ngModel)]="obj.address"
          name="address"
        ></textarea>
      </mat-form-field>

      <div class="example-button-row form-header">
        <button mat-raised-button color="primary" (click)="submitData()">
          Submit
        </button>
      </div>
    </form>
  </mat-card>
</div>
<div class="back-button">
  <div class="example-button-row ">
    <button mat-raised-button color="primary" (click)="routingToTable()">
      Go To Back
    </button>
  </div>
</div>
