<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Customer Table</mat-card-title>
      <button mat-raised-button color="primary" class="add-button">
        Add Customer
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.age }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.gender }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.address }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
